.App {
  height: 100vh;
  display: grid;
  grid-template-rows: minmax(4em, 4em);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "nav main main"
    "... main main";
}

.Header {
  grid-area: header;
  justify-self: center;
}

.AppMain {
  grid-area: main;
}

.Nav {
  grid-area: nav;
}
